a  {
    background-color: lightblue;
    color: rgb(71,69,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;

}
a:hover  {
    background-color: darkgray;
}
h1  {
    font-size: 1em;
}