@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Koulen&display=swap');

body  {
    font-size: 20px;
    font-family: "Barlow", Verdana, sans-serif;
    padding: 0,0;
}
a  {
    background-color: lightblue;
    color: rgb(71,69,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;

}

nav  {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover  {
    background-color: darkgray;
    color: white;
}

h1  {
    font-family: "Koulen",Verdana,sans-serif;
    font-size: 2em;
    text-align: center;
}

img  {
    width: 40%;
    display: block;
    border: 5px solid lightblue;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

p  {
    /*text align center*/
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.background  {
    background: lightgray;
}

#primary  {
    background: lightgray;
}

footer p  {
    background-color: lightblue;
    color: rgb(71,69,69);
    width: 100%;
    text-align: center;
    margin-top: 50px;
}